.clinic-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background: #ffe4e4;
  border-radius: 12px;
}


.input-group label {
  font-weight: bold;
}

.input-group input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.map-section,
.upload-section {
  margin-top: 20px;
}

.current-btn {
  background: #ffbbbb;
  margin-top: 10px;
}

.location-text {
  margin-top: 10px;
  font-weight: bold;
}

.preview-wrapper {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.preview-card {
  background: #f7c8c8;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.preview-card img {
  width: 120px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.save-btn {
  background: #2e8b57;
  color: white;
}

.cancel-btn {
  background: #b30000;
  color: white;
  margin-top: 25px;
}
