.forgot-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.forgot-box {
  width: 350px;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.forgot-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-box label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.forgot-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
}

.forgot-box button {
  width: 100%;
  padding: 10px;
  background: #4a88ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.forgot-box button:hover {
  background: #356fea;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}
