/* .signup-container {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

button {
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0059c9;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.review-box {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 6px;
  height: 200px;
  overflow: auto;
} */
