.sidebar-container {
  width: 220px;
  background-color: #41a0f8;
  height: 100vh;
  overflow-y: auto;
  transition: width 0.3s ease;
  padding-top: 60px;
  position: fixed;
  z-index: 9;
}

/* ========== COLLAPSED ON HOVER REMOVE ========== */
.sidebar-container.collapsed {
  width: 62px;
}

/* Hide text on collapse */
.sidebar-container.collapsed .menu-text {
  opacity: 0;
  visibility: hidden;
}

.sidebar-container.collapsed .submenu {
  display: none;
}

.sidebar {
  padding: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black;
  transition: background 0.3s ease;
}

.menu-link:hover {
  background-color: #e9f9f4;
  border-radius: 12px;
}

.menu-text {
  margin-left: 12px;
}

.submenu {
  list-style: none;
  padding-left: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.collapsed {
  max-height: 0;
}

.submenu.expanded {
  max-height: 500px;
  background: #fff9f1;
  border-radius: 10px;
  padding: 8px;
}

.submenu-item {
  padding: 10px;
  color: #578E7E;
  cursor: pointer;
  border-radius: 10px;
}

.submenu-item:hover {
  background: #e9f9f4;
}

.menu-item.active .menu-link {
  background-color: #2a2b2d;
  color: white;
  border-radius: 12px;
}

.submenu-item.active {
  background-color: #044759;
  color: white;
}

.submenu-arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.submenu-arrow.rotated {
  transform: rotate(180deg);
}
